<h1>Listing ups</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @ups.each do |up| %>
      <tr>
        <td><%= up.name %></td>
        <td><%= link_to 'Show', up %></td>
        <td><%= link_to 'Edit', edit_up_path(up) %></td>
        <td><%= link_to 'Destroy', up, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Up', new_up_path %>
